@media screen and (display-mode: standalone) {
  header {
    height: calc(env(safe-area-inset-top) + 60px) !important;
    padding-top: env(safe-area-inset-top);
    -webkit-overflow-scrolling: touch;
  }
}

.navbar {
  padding-bottom: env(safe-area-inset-bottom, 0);
}
body {
  padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom)
    env(safe-area-inset-left);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  overflow: auto;
  position: relative;
}
